<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>movieRater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCFDAE351ECA301F00D65A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCFDAE4C1ECA302000D65A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCFDAE571ECA302000D65A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
